name: Frontend Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  react-frontend:
    name: Frontend - React
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./front2ano-area_restrita

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Instalar dependências
        run: npm ci

      - name: Rodar testes
        run: npm test -- --watchAll=false

      - name: Verificar estilo (ESLint)
        run: npm run lint

      - name: ⚙️ Buildar frontend
        if: github.ref == 'refs/heads/main'
        run: npm run build
